/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.lsp
/.clj-kondo
/.nrepl-port
/.shadow-cljs
/resources/public/js
/resources/public/css
/public/js
/public/css
/out
/.repl
*.log
/.env
/node_modules
