{:source-paths ["src" "test"]

 :dependencies
 [[reagent "1.2.0"]
  [re-frame "1.4.3"]
  [metosin/reitit-frontend "0.7.2"]

  [binaryage/devtools "1.0.7"]
  [cider/cider-nrepl "0.50.2"]]

 :dev-http
 {3000 "resources/public"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn bingoto.core/init}}
   :devtools
   {:after-load bingoto.core/mount-root}}}}
